* {
     padding: 0;
     margin: 0;
     font-family: sans-serif;
}
.head {
     height: 100vh;
}
.navbar {
     display: grid;
     grid-template-columns: 1fr 2fr;
     align-items: center;
     background-color: #333;
     padding: 10px 20px;
     color: white;
}
 
.logo {
     font-size: 40px;
     font-weight: 900;
     color: yellow;
     text-shadow: 2px 2px 5px red;
}

.nav-links {
     float: right;
     list-style: none;
     display: flex;
     justify-content: space-between;
}
 .links {
     display: flex;
     gap: 20px;
 }
 .nav-links li {
     list-style: none;
 }
 
 .links a {
     text-decoration: none;
     color: white;
 }
 
 .burger {
     display: none;
     flex-direction: column;
     cursor: pointer;
 }
 
 .line1, .line2, .line3 {
     width: 25px;
     height: 3px;
     background-color: white;
     margin: 3px 0;
 }
 .btns {
      display: flex;
      place-items: center;
      gap: 10px;
 }
 
 .btn {
     padding: 5px;
     background-color: wheat;
     color: black;
     border: 3px solid yellow;
     border-radius: 20px;
 }

.hero {
     display: grid;
     grid-template-columns: 2fr 1fr;
     align-items: center;
}
.part1 {
     padding: 20px;
     display: flex;
     place-items: center;
     flex-direction: column;
     gap: 20px;
}
.part1 h1 {
     font-size: 40px;
     text-align: left;
}
.part1 p {
     font-size: 20px;
}
.but {
     display: flex;
     gap: 50px;
}
.sec {
     border-radius: 10px;
     padding: 5px;
     border: 2px solid red;
     background-color: yellow;
     font-size: 20px;
}
.bb {
     background-color: wheat;
     border: 2px solid yellow;
}
.part1 .sec a {
     text-decoration: none;
     color: black;
}
.part2 {
     height: 89vh;
}
img {
     width: 100%;
     height: 100%;
}


body {
     margin: 0;
     font-family: Arial, sans-serif;
 }
 
 
 @media screen and (max-width: 768px) {
     .navbar {
          display: flex;
          justify-content: space-between;
     }
     .nav-links {
          border-radius: 30px;
          padding: 20px;
         display: none;
         flex-direction: column;
         background-color: #333;
         width: 50%;
         position: absolute;
         top: 70px;
         right: 0;
         text-align: center;
         gap: 50px;
     }
     .links {
          flex-direction: column;
     }
     .nav-links.active {
         display: flex;
         justify-content: space-between;
         place-items: center;
         align-items: center;
     }
 
     .burger {
         display: flex;
     }
     .hero {
          width: 100%;
     }
     .part1 {
     padding: 0;
     background-image: url(pexels-jorge-fakhouri-filho-2701570.jpg);
     background-size: cover;
     }
     .part2 {
          display: none;
     }
}
 