* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     overflow-x: hidden;
}
nav {
     place-items: center;
}
.navbar-brand {
     font-weight: 800;
     font-size: 30px;
}
section, .col {
     height: 91vh;
}
.link {
     text-align: center;
     height: 30px;
     text-decoration: none;
     color: white;
     font-weight: 600;
     border-bottom: 1px solid black;
}
.active {
     color: black;
     box-shadow: 5px 5px 10px black;
}
.link:hover {
     box-shadow: 5px 5px 10px black;
     background-color: white;
     color: black;
}
.img, img {
     width: 100px;
     height: 100px;
     border-radius: 100%;
}
.username {
     font-weight: 100;
}
.co {
     background-color: white;
     width: 200px;
     height: 200px;
     border-radius: 20px;
     box-shadow: 5px 5px rgba(0, 0, 0, 0.479);
}
.bo {
     padding: 50px;
     margin-top: 50px;
     border-radius: 10px;
     width: 650px;
     height: 250px;
     box-shadow: 15px 15px 10px gray;
}
.bg-grey {
     margin-top: 70px;
     background-color: gray;
     height: 500px;
}