* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     list-style: none;
     /* border: 1px solid black; */
}
body {
     background-color: rgba(212, 211, 211, 0.344);
}
nav{
     padding: 20px;
     display: flex;
     justify-content: space-between;
     font-size: 10px;
     place-items: center;
}
h1 {
     text-transform: uppercase;
     font-weight: 300;
}
span {
     font-weight: 900;
}
.circle {
     padding: 10px;
     border: 1px solid black;
     border-radius: 100%;
}
.image-container {
     position: absolute;
     bottom: 0;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 50px;
}
 .img {
     width: 400px;
     height: 70vh;
     /* border: 2px solid black; */
 }
 img {
     width: 100%;
     height: 100%;
     transition: .5s;
}