div {
     text-align: center;
     text-align: center;
     align-items: center;
     font-size:70px;
     font-family:ui-serif;
     background:darkgrey;
 }
 button {
     border-radius: 30px;
     padding:10px;
     margin:10px;
     font-size:medium;
 }
 #dis {
     font-size: xx-large;
 }
 #del:hover {
     background:violet;
 }
 #save:hover {
     background:blueviolet;
 }
 #in:hover {
     background:deeppink;
 }
 #de:hover {
     background:burlywood;
 }