* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     list-style: none;
     /* border: 1px solid violet; */
}
.navbar {
     display: grid;
     grid-template-columns: 1fr 2fr;
     align-items: center;
     justify-content: center;
     background-color: #333;
     padding: 10px 20px;
     color: white;
     width: 100%;
}
.brand a {
     font-size: 40px;
     font-weight: 900;
     color: yellow;
     text-shadow: 2px 2px 5px red;
}
.nav-links {
     float: right;
     list-style: none;
     display: flex;
     justify-content: space-between;
     place-items: center;
     
}
 .links {
     display: flex;
     gap: 20px;
 }
 .nav-links li {
     list-style: none;
 }
 
 .links a {
     text-decoration: none;
     color: white;
     font-size: 20px;
 }
 
 .burger {
     display: none;
     flex-direction: column;
     cursor: pointer;
 }
 
 .line1, .line2, .line3 {
     width: 25px;
     height: 3px;
     background-color: white;
     margin: 3px 0;
 }
 .btns {
     border: 2px solid white;
     padding: 5px;
     border-radius: 100%;
}
.hero {
     background-color: #47bc04;
     display: grid;
     grid-template-columns: 2fr 1fr;
     height: 92vh;
}
.part1 {
     padding: 30px;
     display: flex;
     flex-direction: column;
     place-items: center;
     justify-content: center;
     gap: 30px;
}
.catch {
     font-size: 25px;
     color: black;
     text-align: justify;
}
.button {
     padding: 5px;
     border: 2px solid black;
     font-size: 20px;
     border-radius: 10px;
     background-color: #fff;
     color: black;
     text-decoration: none;
}
.part2 img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

  
 @media screen and (max-width: 768px) {
     body{
          height: 100vh;
     }
     .navbar {
          display: flex;
          justify-content: space-between;
     }
     .nav-links {
          border-radius: 30px;
          padding: 20px;
         display: none;
         flex-direction: column;
         background-color: #333;
         width: 50%;
         position: absolute;
         top: 70px;
         right: 0;
         text-align: center;
         gap: 50px;
     }
     .links {
          flex-direction: column;
     }
     .nav-links.active {
         display: flex;
         justify-content: space-between;
         place-items: center;
         align-items: center;
     }
 
     .burger {
         display: flex;
     }
     .hero {
          display: flex;
          width: 100%;
          background-image: url(side-view-man-home-couch-using-smartphone-headphones_23-2148793478.png) ;
          background-size: cover;
     }
     .part1 {
          margin: 0 auto;
          padding: 30px;
          justify-content: center;
     }
     .part2 {
          display: none;
     }
}
 
@media (max-width: 500px) {
     .navbar{
          width: 100%;
     }
     .part1{
          font-size: 10px!important;
     }
}