*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Nav Bar */
nav{
    padding: 15px 60px;
    display: flex;
    background-color: grey;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

nav div{
    font-size: 25px;
    font-weight: 700;
}

nav .header{
    margin: 0 auto;
}

/* Form 1 */
.form-page{
    height: 87vh;
    width: 100%;
    background-color: #f8f8ff;
    display: flex;

}

.container{
    width: 40%;
    background-color: grey;
    border-radius: 15px;
    justify-content: center;
    margin: auto;
    color: #fff;
    height: 75%;
    overflow-x: hidden;
}



.steps{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-bottom: 1px solid #333;
    position: relative;
}

.steps div{
    padding: 7px 10px;
    text-align: center;
}

.step1{
    border-right: 1px solid #333;
}

.step3{
    border-left: 1px solid #333;
}

.step1, .step2, .step3, .step4{
    z-index: 1;
}

.line1{
    position: absolute;
    width: 25%;
    top: 0;
    bottom: 0;
    background-color: black;
    /* display: none; */
}
.line2{
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    background-color: black;
    display: none;
}
.line3{
    position: absolute;
    width: 75%;
    top: 0;
    bottom: 0;
    background-color: black;
    display: none;
}
.line4{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: black;
    display: none;
}

.forms{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    /* overflow: hidden; */
    position: relative;
}

.form1, .form2, .form3, .form4{
    position: absolute;
    height: 100%;
}

form{
    padding: 20px 40px;
    display: grid;
}

.form1{
     top: 50px;
    left: 130px;
    transition: 1.5s;
}
.form2{
     top: 50px;
    left: 600px;
    transition: 1.5s;
}
.form3{
     top: 120px;
    left: 1070px;
    transition: 1.5s;
}
.form4{
     top: 120px;
    left: 1540px;
    transition: 1.5s;
}
.for {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.label{
    margin: auto;
    display: grid;
}

input{
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 10px;
    margin: 15px;
    outline: none;
    padding: 0 10px;
    background-color: transparent;
    color: #fff;
}
#ckbox{
     width: 25px;
     height: 25px;
}



.movement {
     width: 100%;
}
.next {
     padding: 7px 15px;
     float: right;
     border: 1px #333 solid;
     background-color: transparent;
     color: #fff;
     border-radius: 6px;
     transition: .2s;
}
.next:hover {
     background-color: #fff;
     color: #333;
}
.back {
     padding: 7px 15px;
     float: left;
     border: 1px #333 solid;
     background-color: transparent;
     color: #fff;
     border-radius: 6px;
     transition: .2s;
}
.back:hover {
     background-color: #fff;
     color: #333;
}