* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cont {
    height: 82vh;
    background-image: url(img/240_F_125168818_FAWDEEKBh7NioSNCc0IYWLZOWQZHwjw2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.content {
    position: absolute;
    bottom: 20%;
    left: 20%;
}
.content h6 {
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
}
.main {
    text-transform: uppercase;
    font-weight: 700;
}
.testi {
     margin-top: 50px;
}