body {
     background-color: black;
}
.container {
     width: 100%;
     height: 100%;
     position: relative;
}
.image img {
     padding-top: 100px;
     position: absolute;
     top: 40px;
     right: 400px;
     width: 600px;
}
.stars {
     position: relative;
}
.sta {
     position: absolute;
     padding: 20px 50px;
}
.r1 {
     left: 100px;
}
.r2 {
     left: 200px;
}
.r3 {
     left: 300px;
}
.r4 {
     left: 400px;
}
.r5 {
     left: 500px;
}
.r6 {
     left: 600px;
}
.r7 {
     left: 700px;
}
.r8 {
     left: 800px;
}
.r9 {
     left: 900px;
}
.r10 {
     left: 1000px;
}
.r11 {
     right: 100px;
}
.r12 {
     right: 200px;
}
.r13 {
     right: 300px;
}
.r14 {
     right: 400px;
}
.r15 {
     right: 500px;
}
.r16 {
     right: 600px;
}
.r17 {
     right: 700px;
}
.r18 {
     right: 800px;
}
.r19 {
     right: 900px;
}
.r20 {
     right: 1000px;
}